
page {
  --search-padding: 10px 0;
  box-sizing: border-box;
  padding: 0 24rpx;
  background-color: #ffffff;
}

.capsule_bar_bg {
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.login {
  z-index: 10;
  position: fixed;
  color: #ffffff;
}