// @import '@nutui/nutui-react-taro/dist/style.css';
.h5-span {
    display: inline;
  }

  page {
    --nutui-brand-color: green;
    --nutui-brand-color-start: green;
    --nutui-brand-color-end: green;
  }